Welcome <%= current_user.first_name %> 

<div>
  <div>
    <h1>Bills</h1>
    <%= link_to 'All Bills', show_bills_admins_path %> |
    <%= link_to 'Pending Bills', show_pending_bills_admins_path %> |
    <%= link_to 'New Bill', new_bill_path %>
  </div>
  <div>
    <h1>Items</h1>
    <%= link_to 'All Items', show_items_admins_path %> | 
    <%= link_to 'New Item', new_item_path %>
  </div>

  <div>
    <h1>Procedures</h1>
    <%= link_to 'All Procedures', show_procedures_admins_path %> |
    <%= link_to  'New Procedure', new_procedure_path %>
  </div>

  <div>
    <h1>Facilities</h1>
    <%= link_to 'All Facilities', show_facilities_admins_path %> | 
    <%= link_to  'New Facility', new_facility_path %>
  </div>

</div>
