All Items | <%= link_to "Back To Admin Page", admins_path() %>

<div>
  <% @items.each do |item|%>
    <div>
      <%=item.name%> <%= item.description %> <%= item.price %> <%= item.bills_id %>
      <%= link_to "Edit", edit_item_path(item.id), method: :'get' %>
      <%= link_to "Delete", item_path(item.id), method: :'delete' %>
    </div>
  <%end%>
</div>
