<main role="main">
  <div class="container border border-secondary rounded-lg mt-3">
    <h1 class="text-center">
        Facilities
    </h1>
  </div>

<div class='p-2'><%= link_to  "New Facility",new_facility_path, class:'btn btn-primary btn-sm btn-block' %></div>

<ul class="list-group row">
  <% @facilities.each do |f|%>
  <a href="/facilities/<%=f.id%>" class="list-group-item list-group-item-action col-4">
    <h4 class=''><%=f.name%></h4>
    <h6><%= f.specialty %></h6>
      <div>
        <%= f.city %>, <%= f.state %> <%= f.zip %>
      </div> 
  </a>
</ul>
  <%end%>
