<%=form_for @facility do |f|%>

  <div>
    <%= f.text_field  :name, placeholder: "Name of Facility" %>
    <%= f.label :facility, 'Facility' %>
  </div>
  <div>
    <%= f.text_field :street, placeholder: "Street Adress" %>
    <%= f.label :street_address, 'Street Adress' %>
  </div>

  <div>
    <%= f.text_field :city, placeholder: "City" %>
    <%= f.label :city, 'City' %>
  </div>
  <div>
    <%= f.text_field :state, placeholder: "State" %>
    <%= f.label :state, 'State' %>
  </div>
  <div>
    <%= f.text_field :zip, placeholder: "ZIP Code" %>
    <%= f.label :zip, 'Zip' %>
  </div>
  <div>
    <%= f.text_field :specialty, placeholder: "Speciality of Facility" %>
    <%= f.label :specialty, 'Specialty' %>
  </div>

   <div>
     <%= f.submit "Post" %>
  </div>

<%end%>

