<div class="container border border-secondary rounded-lg mt-3">
  <h1 class="text-center">
    <%= @facility.name.titleize %>
  </h1>
</div>


<div class="mx-auto p-3" style="width: 50%;">
  <div class="card mb-6">
    <div class="card-header text-center">
      <h4>Facility Information</h4>
    </div>
    <div class="card-body align-middle">
      <div class="row"> 
        <h5>Address: </h5><%= @facility.street %> <%= @facility.city %>, <%= @facility.state %> <%= @facility.zip %>
      </div>
      <div class="row">
        <h5>Specialty: </h5><%= @facility.specialty%>
      </div>
    </div>
      <%= link_to "Back", facilities_path, class:"btn btn-primary btn-sm align-middle"%>
  </div>
</div>
