<%= form_for @bill do |bill| %>
  <%= label_tag ("Date:") %>
  <%= bill.date_field :date, placeholder: 'Date of Procedure' %>
  <div>
    <%= collection_select(:bill, :procedure_id, Procedure.all, :id, :name, prompt: true) %>
    <%= link_to "Add Procedure", new_procedure_path %>
    <%= mail_to "lljackson1031@gmail.com" do %>
      <div>
        If 'other', Email Admin <strong>Here</strong> 
      </div>
    <% end %>
  </div>
  <div>
    <%= collection_select(:bill, :facility_id, Facility.all, :id, :name, prompt: true) %>
    <%= link_to  "Add Facility", new_facility_path %>
  </div>
<h3>Tasks</h3>
  <div id='items'>
    <%= bill.fields_for :items do |item| %>
      <%= render 'item_fields', :f => item %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add task', bill, :items %>
    </div>
  </div>
    <%= bill.submit "Submit Bill" %>
<% end %>
