<%= form_for @bill do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date, placeholder: 'Date of Procedure' %>
  <div>
    <%= collection_select(:bill, :procedure_id, Procedure.all, :id, :name, prompt: true) %>
    <%= link_to "Add Procedure", new_procedure_path %>
    <%= mail_to "lljackson1031@gmail.com" do %>
      <div>
        If 'other', Email Admin Here
      </div>
    <% end %>
  </div>
  <div>
    <%= collection_select(:bill, :facility_id, Facility.all, :id, :name, prompt: true) %>
    <%= link_to  "Add Facility", new_facility_path %>
  </div>
  <h3>Items</h3>
  <div id='items'>
    <%= f.fields_for :items do |item| %>
       <%= render 'item_fields', f: item %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add item', f, :items %>
    </div>
  </div>
  <div>
    <%= f.label :humanizer_answer, @bill.humanizer_question %>
    <%= f.text_field :humanizer_answer %>
    <%= f.hidden_field :humanizer_question_id %>
  </div>
  <%= f.submit "Submit Bill" %>
<% end %>

