<main role="main">
  <div class="container border border-secondary rounded-lg mt-3">
    <h1 class="text-center">
        Bills
    </h1>
  </div>

<h4 class="text-center p-2">Search</h4>

<%= link_to  "Input Billing Information", new_bill_path, class:'btn btn-primary btn-sm btn-block' %>

<% @bills.each do |f|%>
    <div>
      <%= f.facility_id %> <%= f.date %> <%= f.procedure_id %> 
      <div>
        <% f.items.each do |item| %>
          <%= item.name %>
          <%= item.price %>
        <% end %>
      </div>
    </div>
<%end%>
</main>