<div class="form-group">
<%= form_for @procedure do |p| %>
 <div>
   <%= p.label :name %>:
   <%= p.text_field :name %>
 </div> 
 <div>
   <%= p.label :description %>:
   <%= p.text_field :description %>
 </div> 
  <%= p.submit "Submit"%>
</div>
<%end%>
