<main role="main">
  <div class="container border border-secondary rounded-lg mt-3">
    <h1 class="text-center">
        <%= @procedures.name %>
    </h1>
  </div>

<h4 class="text-center p-2">Search</h4>

<%= @procedures.each do |f|%>
    <div>
	    <%=f.name%> <%=f.description%> 
    </div>
<%end%>

<div class="album py-5 bg-light">
  <div class="container">
     <div class="row">
      <%= @items.each do |item|%>
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-header"><%=item.name%></div>
          <div class="card-body" align='center'>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <%= link_to "View", item_path(item), class:"btn btn-sm btn-outline-secondary"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    </div>
  </div>
</div>