<!DOCTYPE html>
<html>
<head>
  <title>Wikimed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand d-flex align-items-center">
      <strong>WikiMed</strong>
    </a>
      <ul class= "navbar-nav mr-auto">
        <li class= "nav-item">
          <a href="/bills" class="nav-link">Recent Bills</a>
        </li>
        <li class= "nav-item">
          <a href="/facilities" class="nav-link">Facilities</a>
        </li>
        <li class= "nav-item">
          <a href="/bills/common" class="nav-link">Common Procedures</a>
        </li>
	        <% if (user_signed_in?) %>
            <li class= "nav-item">
              <a href="/admins" class="nav-link">Admin Home</a>
            </li>
	        <% end %>
      </ul>
          <%= form_tag(bills_path,method: :get, class: "form-inline")do %>
	         <%=text_field_tag(:search, params[:search],placeholder: 'Search by Procedure',class: "form-control mr-sm-1")%>
	         <%=submit_tag ("Search"),name: nil%>
	       <%end%>
  </nav>
  <style>
    .rgba-gradient {
      background: -moz-linear-gradient(45deg, rgba(0, 5, 255, 0.6), rgba(204, 255, 153, 0.69) 100%);
      background: -webkit-linear-gradient(45deg, rgba(0, 5, 255, 0.6), rgba(204, 255, 153, 0.69) 100%);
      background: linear-gradient(to 45deg, rgba(0, 153, 5, 0.6), rgba(204, 255, 153, 0.69) 100%);
    }
    .btn-primary.btn-outline:hover,
    .btn-success.btn-outline:hover,
    .btn-info.btn-outline:hover,
    .btn-warning.btn-outline:hover,
    .btn-danger.btn-outline:hover {
        color: #fff;
    }
    .btn-outline {
        background-color: transparent;
        color: inherit;
    }
    
    .btn-primary.btn-outline {
        color: #428bca;
    }
  </style>
</head>
<body>
<div class="ml-3">
  <div class="container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}")%>
    <% end %>
  </div>
<%= yield %>
</div>
<footer class="card-footer text-muted text-right">
    <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class:"btn btn-outline-primary") %>
      <% else %>
        <%=link_to('Login', new_user_session_path, class:"btn btn-outline-primary")  %>
      <% end %>
</footer>
</body>
</html>
